extends templates/_layout
block header
    //- reglement
    mj-section
        mj-column
            mj-text Afficher dans le navigateur
    //- bandeau Header
    mj-section
        mj-column
            mj-image
    //- title
    mj-section
        mj-column
            mj-text
                h1 Que sont-ils devenus ?
                h2 Voici un extrait de quelques success story de nos anciens étudiants
    //- cartes que sont-ils devenus
    mj-section
        mj-column
            mj-image
        mj-column
            mj-image
        mj-column
            mj-image
        mj-column
            mj-image
    mj-section
        mj-column
            mj-image
        mj-column
            mj-image
        mj-column
            mj-image
        mj-column
            mj-image
        mj-column
            mj-image
        mj-column
            mj-image
    mj-section
        mj-column
            mj-image
        mj-column
            mj-image
        mj-column
            mj-image
        mj-column
            mj-image
    //- text
    mj-section
        mj-column
            mj-text Suivez leurs traces et rejoignez Ecosup Hôtellerie dès la rentrée prochaine.
            mj-button Renseignement et Inscription
    //- footer
    mj-section
        mj-column
            mj-text 
                h3 Ecosup Campus
                p 17 Place Charles et Albert Roussel,
                p 59200 tourcoing 
                p 03.20.70.06.06
                p contact@ecosup-campus.fr 
        mj-column
            mj-social
                mj-social-element
                mj-social-element
                mj-social-element 
    //- reglement
    mj-section
        mj-column
            mj-text Cet email a été envoyé a {{contact.EMAIL}}. Vous l'avez reçu car vous êtes inscrit à Ecosup Campus.
            mj-text Se désinscrire
            mj-text 2022 ecosup campus

